# Project 1

**Step 1: Import data through Pandas**

In [28]:
import plotly.io as pio

pio.renderers.default = "vscode+jupyterlab+notebook_connected"

In [30]:
import pandas as pd

df = pd.read_csv('New_York_City_Population_by_Borough__1950_-_2040_20241101.csv') 
df

,Age Group,Borough,1950,1950 - Boro share of NYC total,1960,1960 - Boro share of NYC total,1970,1970 - Boro share of NYC total,1980,1980 - Boro share of NYC total,...,2000,2000 - Boro share of NYC total,2010,2010 - Boro share of NYC total,2020,2020 - Boro share of NYC total,2030,2030 - Boro share of NYC total,2040,2040 - Boro share of NYC total
0,Total Population,NYC Total,7891957,100.00,7781984,100.00,7894862,100.00,7071639,100.00,...,8008278,100.00,8242624,100.00,8550971,100.00,8821027,100.00,9025145,100.00
1,Total Population,Bronx,1451277,18.39,1424815,18.31,1471701,18.64,1168972,16.53,...,1332650,16.64,1385108,16.80,1446788,16.92,1518998,17.22,1579245,17.50
2,Total Population,Brooklyn,2738175,34.70,2627319,33.76,2602012,32.96,2230936,31.55,...,2465326,30.78,2552911,30.97,2648452,30.97,2754009,31.22,2840525,31.47
3,Total Population,Manhattan,1960101,24.84,1698281,21.82,1539233,19.50,1428285,20.20,...,1537195,19.20,1585873,19.24,1638281,19.16,1676720,19.01,1691617,18.74
4,Total Population,Queens,1550849,19.65,1809578,23.25,1986473,25.16,1891325,26.75,...,2229379,27.84,2250002,27.30,2330295,27.25,2373551,26.91,2412649,26.73
5,Total Population,Staten Island,191555,2.43,221991,2.85,295443,3.74,352121,4.98,...,443728,5.54,468730,5.69,487155,5.70,497749,5.64,501109,5.55

**Step 2: Calculate One Column's Mean, Median, Mode**

In [33]:
population_2000 = df['2000']

mean = population_2000.mean()
median = population_2000.median()

counts = population_2000.value_counts()

repeated_values = counts[value_counts > 1]

if not repeated_values.empty:
    mode = repeated_values.idxmax()  
else:
    mode = "No mode" 

print(f"Mean: {int(mean)}, Median: {int(median)}, Mode: {mode}")

NameError: name 'value_counts' is not defined

**Step 3.1: Repeat Without Pandas: Read Data for One Column**

In [36]:
import csv

with open('New_York_City_Population_by_Borough__1950_-_2040_20241101.csv', 'r') as file:
    population = csv.DictReader(file)
    
    for row in population:
        print (row['2000'])

8008278
1332650
2465326
1537195
2229379
443728

**Step 3.2: Calculate One Column's Mean, Median, Mode Without Pandas**

In [39]:
with open('New_York_City_Population_by_Borough__1950_-_2040_20241101.csv', 'r') as file:
    population = csv.DictReader(file)

    total_population_2000 = 0 
    count = 0
    
    for row in population:
        population = int(row["2000"])
        total_population_2000 += population 
        count += 1
    
    average_population_2000 = total_population_2000/count
    
    print(f"Mean: {int(average_population_2000)}")

Mean: 2669426

In [15]:
with open('New_York_City_Population_by_Borough__1950_-_2040_20241101.csv', 'r') as file:
    population = csv.DictReader(file)
    population_2000 = [int(row["2000"]) for row in population]

population_2000.sort()

count = len(population_2000)
if count % 2 == 1:
    median = population_2000[count // 2]
else:
    median = (population_2000[count // 2 - 1] + population_2000[count // 2]) / 2

print(f"Median: {median}")

Median: 1883287.0

In [17]:
with open('New_York_City_Population_by_Borough__1950_-_2040_20241101.csv', 'r') as file:
    population = csv.DictReader(file)
        
    mode = "No mode"

    print(f"Mode: {mode}")

Mode: No mode

**Step 4: Visualization Sparkline**

In [20]:
import pandas as pd

df = pd.read_csv('1950.csv')
df

              Borough;1950
0        NYC Total;7891957
1            Bronx;1451277
2         Brooklyn;2738175
3        Manhattan;1960101
4           Queens;1550849
5     Staten Island;191555

In [22]:
df[['Borough', 'Count']] = df['Borough;1950'].str.split(';', expand=True)
df['Count'] = pd.to_numeric(df['Count'])

scaling = 10 / df['Count'].max()

for i in range(len(df)):
    borough = df['Borough'][i]
    count = df['Count'][i]
    sparkline = '*' * int(count * scaling)
    print(f"{borough}: {sparkline}")

NYC Total: **********
   Bronx: *
   Brooklyn: ***
   Manhattan: **
   Queens: *
   Staten Island: